<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chuongmep.Navis.Api.AdWindows" version="2023.0.6" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Api" version="2023.0.6" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Automation" version="2023.0.5" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Clash" version="2023.0.6" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.ComApi" version="2023.0.6" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Controls" version="2023.0.5" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Interop.ComApi" version="2023.0.5" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Interop.Timeliner" version="2023.0.5" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Resolver" version="2022.0.3" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Takeoff" version="2023.0.6" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.Autodesk.Navisworks.Timeliner" version="2022.0.3" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.navisworks.gui.common" version="2023.0.5" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.navisworks.gui.generic" version="2023.0.5" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.navisworks.gui.interface" version="2023.0.5" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.navisworks.gui.roamer" version="2023.0.6" targetFramework="net48" />
  <package id="Chuongmep.Navis.Api.navisworks.roamer.plugin" version="2022.0.3" targetFramework="net48" />
</packages>